.tooltip {
  height: 15px;

  background-color: var(--color-bg-thirty);
  border-radius: 6px;

  padding: 6px;

  color: var(--color-text-thirty);
  font-size: 13px;
  font-weight: bold;
  font-family: sans-serif;
  white-space: nowrap;
  pointer-events: none;

  opacity: 0;
}

aside .tooltip {
  display: none;
}

.sidebar-button .tooltip {
  position: absolute;
  bottom: 4px;
  left: 38px;
}

.sidebar-button:hover .tooltip {
  opacity: 1;
  transition: opacity 0.2s;
}

.new-chat-link .tooltip,
.chats .tooltip,
.projects .tooltip,
.artifacts .tooltip,
.code .tooltip {
  position: absolute;
  left: 38px;
}

.new-chat-link:hover .tooltip,
.chats:hover .tooltip,
.projects:hover .tooltip,
.artifacts:hover .tooltip,
.code:hover .tooltip {
  opacity: 1;
  transition: opacity 0.2s;
}

.incognito-mode-container .tooltip {
  position: absolute;
  left: -160px;
  bottom: 5px;

  opacity: 0;
}

.incognito-mode-container:hover .tooltip {
  opacity: 1;
  transition: opacity 0.2s;
}

.tools-button-container .tooltip,
.thinking-button-container .tooltip {
  position: absolute;
  bottom: -33px;

  opacity: 0;
}

.can-focus-additional-action-button:hover .tooltip {
  opacity: 1;
  transition: opacity 0.2s;
}